@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inconsolata', ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, 'Liberation Mono', 'Courier New', monospace;
  }
}

* {
  box-sizing: border-box;
}

::selection {
  @apply bg-not-green bg-opacity-30;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  @apply bg-almost-black text-white;
}

a {
  @apply font-bold decoration-2 decoration-not-pink underline-offset-4 hover:underline focus-visible:underline outline-none text-not-pink;
}

p {
  @apply leading-6;
}

p:after {
  content: '';
  display: inline-block;
  width: 0px;
}
